.loginForm {
  max-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loginFormForgot {
  float: right;
}
.loginFormButton {
  width: 100%;
  margin-bottom: 5px;
}
.formItem {
  margin-bottom: 3px;
}
img {
  margin: 0 auto;
  margin-bottom: 0 px;
  width: 220px;
}
.registerButton {
  width: "100%";
  height: "55px";
  background-color: "#52c41a";
  color: "white";
}
