.ant-spin-container {
  width: 600px !important;
}

.ant-comment-content-detail {
  width: 620px !important;
}

@media only screen and (max-width: 768px) {
  .ant-spin-container {
    width: 380px !important;
  }
  .ant-comment-content-detail {
    width: unset !important;
  }
}
