.comment-action {
  padding-left: 8px;
  cursor: "auto";
}

[class*="-col-rtl"] .comment-action {
  padding-right: 8px;
  padding-left: 0;
}

.spoilerAlert {
  top: 40px;
  right: -44px;
  width: 100%;
  position: absolute;
}

.ant-comment-content-detail {
  width: 600px !important;
}

@media only screen and (max-width: 768px) {
  .ant-comment-content-detail {
    width: 100% !important;
    max-width: auto;
    width: unset !important;
  }

  .spoilerAlert {
    top: 21%;
    right: 5%;
    width: 84%;
  }
}
