.coverImg {
  height: 235px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 61%;
}

.contentCover {
  z-index: 1;
  top: -169px;
}

.creator {
  right: -6px;
  top: -21px;
  position: relative;
}

.desc {
  width: 100%;
  max-width: 600px;
}

.watchTrailerButton {
  background-color: #232425;
  margin-top: 15px;
  width: 240px;
  color: white;
  transition: 0.4s;
}

.watchTrailerButton :nth-child(1) {
  color: #faad14;
}

.seasonRow {
  padding: 20px 0 20px 0 ;
  width: 100%;
  max-width: 600px;
}
.seasonRow Button{
  margin: 0 5px 5px 0;
}



/* TODO Watch Trailer Button Hover Not working properly  */
/* .watchTrailerButton :hover {
    background-color: red;
    color: white;
    border: none;
  } */

/* .watchTrailerButton .ant-btn:hover,
.ant-btn:focus {
  background-color: #232425c2;
  color: white;
  border: none;
} */
