.contentCover {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 29px;
}
.coverDesc {
  padding: 20px;
}

.ant-layout {
  background-color: #ebf2f9 !important;
}

.randomContentImg {
  width: 100%;
  height: auto;
  max-height: 128px;
  object-fit: none;
  object-position: 50% 57%;
}

.randomContent {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.randomContetButton {
  position: absolute;
}
