.coverImage {
  border-radius: 50% !important;
}
.Card {
  width: 200px;
  background: transparent !important;
}

@media only screen and (max-width: 480px) {
  .memberCol {
    display: flex !important;
    justify-content: center !important;
  }
}
