.coverImage {
  border-radius: 50% !important;
}
.Card {
  text-align: center;
  width: 220px;
  background: transparent !important;
}

@media only screen and (max-width: 768px) {
  .coverImage {
    width: 140px;
    border-radius: 50% !important;
  }
  .memberCol {
    display: flex !important;
    justify-content: center !important;
  }
  .ant-row {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}